<!DOCTYPE html>
<html>
  <head>
    <title>BurningAirlineBackend</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1>Burning Airline</h1>
    </header>

    <nav>
      <a href="/planes">Planes</a>
      <a href="/flights">Routes</a>
    </nav>

          <%= yield %>
  </body>
</html>
